---
import SocialIcon from '@/components/social-icons/index.astro'
import {SITE_METADATA} from '@/consts'

import Link from "./Link.astro";
---
<footer class="retro-container mt-16">
    <pre class="ascii-divider">
 ____________________
|   SYSTEM FOOTER    |
|____________________|
    </pre>
    
    <div class="flex flex-col items-center gap-4">
        <div class="flex gap-4">
            <a href={`mailto:${SITE_METADATA.email}`} class="retro-link">[MAIL]</a>
            <a href={SITE_METADATA.github} class="retro-link">[GITHUB]</a>
            <a href={SITE_METADATA.linkedin} class="retro-link">[LINKEDIN]</a>
            <a href={SITE_METADATA.twitter} class="retro-link">[TWITTER]</a>
            <a href={SITE_METADATA.youtube} class="retro-link">[YOUTUBE]</a>
            <a href={SITE_METADATA.substack} class="retro-link">[SUBSTACK]</a>
        </div>
        
        <pre class="text-terminal-dim">
==================================
| {SITE_METADATA.author} © {new Date().getFullYear()} |
==================================
        </pre>
        
        <div class="flex gap-2 text-sm font-mono">
            <a href="/about" class="retro-link">ABOUT</a>
            <span class="text-terminal-dim">|</span>
            <a href="/" class="retro-link">HOME</a>
        </div>
    </div>
</footer>
